<h2>Your cart</h2>

<%= @items.inspect %>

<table class="table tble-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
    </tr>    
    </thead>
    <tbody>
    <% @items.each do |item| %>
    <tr>
        <th><%= item[0].title %></th>
        <th><%= item[0].price %></th>
        <th><%= item[1]. %></th>
    </tr>
    <% end %>
    </tbody>
</table>